Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,css,md,mdx}": ["prettier --write"]
}

feat: setup the login page for particular docs
  .github/workflows/build-and-deploy.yml
  .npmrc
  package-lock.json
  package.json
  src/components/page/Login.tsx
  src/components/shared/blendingSkill.tsx
  src/components/ui/label.tsx
  src/components/withAuth.tsx
  src/pages/_app.mdx
  src/pages/_meta.json
  src/pages/login.mdx
  src/utils/auth.ts
Due: prettier --write, eslint --fix, eslint

chore: revert back to original without login
  src/pages/_app.mdx
  src/pages/_meta.json
Due: prettier --write

chore: rename login page
  src/pages/login
Due: none

docs(kuberentes): setup static pods docs
  public/docs/kubernetes/kube-system-pods.png
Due: none

fix: fix the skill slugs display issue (all black)
  package-lock.json
  package.json
  src/components/shared/blendingSkill.tsx
  src/components/ui/icon-cloud.tsx
Due: prettier --write, eslint --fix, eslint

chore: change the sequence of template file contents
  src/templates/doc.mdx
Due: prettier --write

chore: setup generate new doc helper script
  src/helper/generate-new-doc.py
Due: none

chore: install popover, tooltip, and poline dependencies
  package-lock.json
  package.json
  src/components/ui/popover.tsx
  src/components/ui/tooltip.tsx
Due: prettier --write, eslint --fix, eslint

feat: create color picker playground
  src/components/page/ColorPicker.tsx
  src/components/ui/color-picker.tsx
  src/pages/_meta.json
  src/pages/playground/_meta.json
  src/pages/playground/color-picker.mdx
Due: prettier --write, eslint --fix, eslint

feat: setup certificate journey and display certication badges
  public/certificates/cje.png
  public/certificates/cka.png
  public/certificates/ckad.png
  public/certificates/lfd121.png
  public/certificates/pcap.png
  public/certificates/pcep.png
  public/certificates/psm1.png
  src/components/page/Journey.tsx
  src/components/ui/timeline.tsx
  src/constants/index.ts
  src/pages/_meta.json
  src/pages/journey.mdx
Due: prettier --write, eslint --fix, eslint

ui: set zIndex to 0
  src/components/ui/animated-testimonials.tsx
Due: prettier --write, eslint --fix, eslint

ui: add certification journey link to about page and footer
  src/components/page/About.tsx
  theme.config.tsx
Due: prettier --write, eslint --fix, eslint

fix: fix react linting issues
  src/components/page/ColorPicker.tsx
  src/components/page/Journey.tsx
Due: prettier --write, eslint --fix, eslint

refactor: rename playground path to hub
  src/components/page/ColorPicker.tsx
  src/pages/_meta.json
  src/pages/hub/_meta.json
  src/pages/hub/color-picker.mdx
Due: prettier --write, eslint --fix, eslint

feat: update certification data and display logic in Journey component
  src/components/page/Journey.tsx
  src/constants/index.ts
Due: prettier --write, eslint --fix, eslint

feat: add Book interface to type definitions
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint
