Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

refactor: remove AuroraText component and update Hero to use LineShadowText directly
  src/components/page/home/hero.tsx
  src/components/ui/aurora-text.tsx
Due: prettier --write, eslint --fix, eslint

refactor: add Kubestronaut menu item and adjust Color Picker layout
  src/app/layout.config.tsx
Due: prettier --write, eslint --fix, eslint

chore: add KUBESTRONAUT constants and include CNCF image
  public/kubestronaut/cncf-kubestronaut.png
  src/constants.ts
Due: prettier --write, eslint --fix, eslint

feat: create Kubestronaut page with certificates and LinkedIn link
  src/app/(home)/hub/kubestronaut/page.tsx
  src/components/ui/spotlight-new.tsx
Due: prettier --write, eslint --fix, eslint

fix: replace Image component with ImageZoom for enhanced image interaction
  src/components/ui/focus-cards.tsx
Due: prettier --write, eslint --fix, eslint

feat: add Good Tools & Websites page with icons and descriptions
  public/good-tools-and-websites/aceternity.ico
  public/good-tools-and-websites/magicui.ico
  src/app/(home)/hub/tools/page.tsx
  src/app/layout.config.tsx
  src/constants.ts
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

style: update blog page background with new gradients and blend mode
  src/app/(home)/blog/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: update @radix-ui/react-slot version to 1.2.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: none

feat: implement search and filter functionality for Good Tools & Websites page feat: create Badge component for displaying tags fix: add tags to Good Tools & Websites items
  src/app/(home)/hub/tools/page.tsx
  src/components/ui/badge.tsx
  src/constants.ts
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

chore: add new UI tools to Good Tools & Websites section with icons and descriptions
  public/good-tools-and-websites/Shadcn Marketing Blocks.ico
  public/good-tools-and-websites/Supabase UI Library.ico
  public/good-tools-and-websites/cultui.ico
  public/good-tools-and-websites/ui-layouts.ico
  src/constants.ts
Due: prettier --write, eslint --fix, eslint

chore: migrate contents to repo using submodule
  .gitmodules
  content/blog/add-apt-repository-unable-to-support-jammy.mdx
  content/blog/edit-hostname-on-ubuntu.mdx
  content/blog/fix-docker-compose-error-max-virtual-memory-areas-vm-max-map-count-65530-is-too-low-increase-to-at-least-262144.mdx
  content/blog/fix-git-lfs-pointers-issue.mdx
  content/blog/got-permission-denied-while-trying-to-connect-to-the-docker-daemon-socket-at-unixvarrun-dockersock.mdx
  content/blog/install-java-openjdk-17.mdx
  content/blog/install-java-with-apt-on-ubuntu.mdx
  content/blog/install-jenkins-with-docker-compose.mdx
  content/blog/install-kubevirt.mdx
  content/blog/install-latest-git.mdx
  content/blog/install-maven-mvn.mdx
  content/blog/install-packages-using-deb-file.mdx
  content/blog/nginx-problems.mdx
  content/blog/no-module-named-apt_pkg.mdx
  content/blog/run-sudo-command-without-a-password.mdx
  content/blog/setup-k3s-on-ubuntu.mdx
  content/blog/setup-self-hosted-github-runner.mdx
  content/blog/share-your-local-server-with-ngrok.mdx
  content/blog/use-different-python-version-to-setup-python-virtual-environment.mdx
Due: prettier --write

fix: conditionally render InlineTOC only if toc has items
  src/app/(home)/blog/[slug]/page.tsx
Due: prettier --write, eslint --fix, eslint

chore: add workflow to delete old workflow runs monthly
  .github/workflows/delete-old-workflow-runs.yml
Due: none

chore: add paths-ignore for additional directories in build workflow
  .github/workflows/build-and-deploy.yml
Due: none

chore: ensure consistent formatting settings for TypeScript files
  .vscode/settings.json
Due: prettier --write

feat: implement load more functionality in gallery component
  src/app/(home)/gallery/page.tsx
Due: prettier --write, eslint --fix, eslint

chore: add @types/webpack-env dependency for TypeScript support
  package-lock.json
  package.json
Due: none

refactor: add category in front of image name
  public/gallery/penguin-penguin-challenge.webp
  public/gallery/penguin-penguin-document.webp
  public/gallery/penguin-penguin-learn.webp
  public/gallery/penguin-penguin1.webp
  public/gallery/penguin-penguin10.webp
  public/gallery/penguin-penguin11.webp
  public/gallery/penguin-penguin12.webp
  public/gallery/penguin-penguin13.webp
  public/gallery/penguin-penguin14.webp
  public/gallery/penguin-penguin2.webp
  public/gallery/penguin-penguin3.webp
  public/gallery/penguin-penguin4.webp
  public/gallery/penguin-penguin5.webp
  public/gallery/penguin-penguin6.webp
  public/gallery/penguin-penguin7.webp
  public/gallery/penguin-penguin8.webp
  public/gallery/penguin-penguin9.webp
Due: none

feat: dynamically load gallery images and remove static gallery constant
  src/app/(home)/gallery/page.tsx
  src/constants.ts
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

fix: update alt attribute in ImageZoom component to use index for better accessibility
  src/components/ui/focus-cards.tsx
Due: prettier --write, eslint --fix, eslint

fix: update load more functionality to ensure valid items are displayed
  src/app/(home)/gallery/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: update initial visible count to reflect loaded items
  src/app/(home)/gallery/page.tsx
Due: prettier --write, eslint --fix, eslint

feat: add gallery client component and update gallery to use glob for image loading
  package-lock.json
  package.json
  src/app/(home)/gallery/page.tsx
  src/components/page/gallery/galleryClient.tsx
Due: prettier --write, eslint --fix, eslint

chore: add Shadcn UI blocks and components to good tools list
  public/good-tools-and-websites/shadcn-ui-blocks.ico
  public/good-tools-and-websites/shadcnblocks.ico
  src/constants.ts
Due: prettier --write, eslint --fix, eslint

chore: update .gitignore to include helper directory
  .gitignore
Due: none

fix: update gallery item category to derive from image filename
  src/app/(home)/gallery/page.tsx
Due: prettier --write, eslint --fix, eslint

feat: add project display component and project data structure
  src/app/(home)/project/page.tsx
  src/app/layout.config.tsx
  src/components/page/project/projectDisplay.tsx
  src/constants.ts
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

fix: correct 'Project' to 'Projects' in layout configuration
  src/app/(home)/project/page.tsx
  src/app/layout.config.tsx
Due: prettier --write, eslint --fix, eslint

feat: add projects collection and implement project display page
  source.config.ts
  src/app/(home)/projects/page.tsx
  src/components/page/project/projectDisplay.tsx
  src/constants.ts
  src/lib/source.ts
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

feat: update project schema to include languages and refactor related components
  source.config.ts
  src/app/(home)/projects/page.tsx
  src/components/page/project/projectDisplay.tsx
Due: prettier --write, eslint --fix, eslint

fix: update share button text from 'Share Post' to 'Share'
  src/components/page/blog/control.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement project detail page with metadata and dynamic content
  src/app/(home)/projects/[slug]/page.tsx
Due: prettier --write, eslint --fix, eslint

refactor: add initial project metadata structure in project.mdx
  template/project.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,md,mdx})
  eslint --fix: any of: */**/*.{js,jsx,ts,tsx}
  eslint: any of: */**/*.{js,jsx,ts,tsx}
