Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

docs: enhance troubleshooting guide for Docker permission issues
  src/app/blog/(sub)/got-permission-denied-while-trying-to-connect-to-the-docker-daemon-socket-at-unixvarrun-dockersock/page.mdx
Due: prettier --write

blog: setup rdp on ubuntu
  public/blog/setup-rdp-on-ubuntu/desktop-sharing.png
  public/blog/setup-rdp-on-ubuntu/remote-login.png
  src/app/blog/(sub)/setup-rdp-on-ubuntu/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

blog: prevent every time push need password to git on Ubuntu
  public/blog/prevent-every-time-push-need-password-to-git-on-ubuntu/image.png
  src/app/blog/(sub)/prevent-every-time-push-need-password-to-git-on-ubuntu/page.mdx
Due: prettier --write

blog: check ubuntu static ip configuration
  public/blog/check-ubuntu-static-ip-configuration/image.png
  src/app/blog/(sub)/check-ubuntu-static-ip-configuration/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

blog: setup Ubuntu Static IP
  src/app/blog/(sub)/setup-ubuntu-static-ip/page.mdx
Due: prettier --write

feat: setup 2026 goals
  src/app/(anything)/(more-from-me)/goals/page.tsx
  src/components/Footer.tsx
  src/components/GoalsClient.tsx
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

refactor: move files to 2025 folder
  src/app/blog/(sub)/(2025)/check-ubuntu-static-ip-configuration/page.mdx
  src/app/blog/(sub)/(2025)/setup-ubuntu-static-ip/page.mdx
Due: prettier --write

feat: support references in blog post and remove invalid tag checkup
  src/app/blog/page.tsx
  src/components/ProjectBlogLayout.tsx
  template/blog.mdx
Due: prettier --write, eslint --fix, eslint

blog: self-hosted docker registry
  src/app/blog/(sub)/self-hosted-docker-registry/page.mdx
Due: prettier --write

chore: update newsletter link
  src/app/blog/(sub)/self-hosted-docker-registry/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

chore: update goals
  src/app/(anything)/(more-from-me)/goals/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: add unique key to NavBar component in RootLayout
  src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

chore: remove 2026 goals page
  src/app/(anything)/(more-from-me)/goals/page.tsx
  src/components/Footer.tsx
  src/components/GoalsClient.tsx
Due: prettier --write, eslint --fix, eslint

blog: install Docker Engine on WSL
  src/app/blog/(sub)/(2026)/install-docker-engine-on-wsl/page.mdx
  src/app/blog/(sub)/(2026)/self-hosted-docker-registry/page.mdx
Due: prettier --write

docs: linux
  src/app/docs/linux/_meta.ts
  src/app/docs/linux/help-command/page.mdx
Due: prettier --write, eslint --fix, eslint

chore: update working experiences
  src/app/(anything)/(more-from-me)/work-experiences/page.tsx
Due: prettier --write, eslint --fix, eslint

docs: linux
  src/app/docs/linux/_meta.ts
  src/app/docs/linux/bash-shell/page.mdx
  src/app/docs/linux/env-variables/page.mdx
Due: prettier --write, eslint --fix, eslint

Docs/linux (#46)
  src/app/(anything)/(more-from-me)/work-experiences/page.tsx
  src/app/docs/linux/_meta.ts
  src/app/docs/linux/bash-shell/page.mdx
  src/app/docs/linux/basic-commands/page.mdx
  src/app/docs/linux/env-variables/page.mdx
  src/app/docs/linux/help-command/page.mdx
  src/app/docs/linux/linux-shell/page.mdx
  src/app/docs/linux/page.mdx
  src/app/docs/linux/what-is-linux/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

feat: add KaTeX support for mathematical rendering
  package.json
  pnpm-lock.yaml
  source.config.ts
  src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

feat: add new docs routing, LLM integration, and page action components
  next.config.mjs
  source.config.ts
  src/app/docs/[[...slug]]/page.tsx
  src/app/llms-full.txt/route.ts
  src/app/llms.mdx/docs/[[...slug]]/route.ts
  src/app/og/docs/[...slug]/route.tsx
  src/app/proxy.ts
  src/components/page-actions.tsx
  src/content/docs/12-factor-app.mdx
  src/lib/get-llm-text.ts
  src/lib/source.ts
Due: prettier --write, eslint --fix, eslint

feat: implement documentation graph visualization
  cli.json
  package.json
  pnpm-lock.yaml
  source.config.ts
  src/components/DocsCards.tsx
  src/components/graph-view.tsx
  src/lib/build-graph.ts
Due: prettier --write, eslint --fix, eslint

feat: implement dynamic documentation pages with custom MDX components and algorithm visualizers
  src/app/docs/[[...slug]]/page.tsx
  src/mdx-components.tsx
Due: prettier --write, eslint --fix, eslint

chore: fix issues
  src/app/(home)/(anything)/tags/[tag]/page.tsx
  src/components/NavBar.tsx
  src/content/docs/git/meta.json
Due: prettier --write, eslint --fix, eslint

chore: test
  tsconfig.json
Due: none

chore: success
  next.config.mjs
Due: none

chore: try
  jsconfig.json
Due: none

docs: migrate git docs
  app/constants.tsx
  app/docs/[[...slug]]/page.tsx
  content/docs/git/branches.mdx
  content/docs/git/git-in-depth.mdx
  content/docs/git/git-installation.mdx
  content/docs/git/rebasing.mdx
  content/docs/git/reflog.mdx
  content/docs/git/remote-repositories.mdx
  content/docs/git/reset-and-revert.mdx
  content/docs/git/save-changes.mdx
  content/docs/git/setup-repository.mdx
  content/docs/git/stashing.mdx
  git/page.mdx
Due: prettier --write, eslint --fix, eslint

docs: python oop migration
  app/docs/[[...slug]]/page.tsx
  app/docs/layout.tsx
  content/docs/python-oop/abstraction.mdx
  content/docs/python-oop/class-and-object.mdx
  content/docs/python-oop/cohesion-and-coupling.mdx
  content/docs/python-oop/concepts-of-oop.mdx
  content/docs/python-oop/encapsulation.mdx
  content/docs/python-oop/inheritance.mdx
  content/docs/python-oop/meta.json
  content/docs/python-oop/polymorphism.mdx
  content/docs/python-oop/uml-class-diagram.mdx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

docs: docker migration
  content/docs/docker/best-practices-for-creating-docker-image.mdx
  content/docs/docker/container.mdx
  content/docs/docker/daemon-configuration.mdx
  content/docs/docker/docker-architecture.mdx
  content/docs/docker/docker-compose.mdx
  content/docs/docker/docker-installation.mdx
  content/docs/docker/future.mdx
  content/docs/docker/image.mdx
  content/docs/docker/meta.json
  content/docs/docker/network.mdx
  content/docs/docker/resource-limits.mdx
  content/docs/docker/useful-commands.mdx
  content/docs/docker/volume.mdx
  content/docs/docker/what-is-docker.mdx
Due: prettier --write

docs: taskfile migration
  content/docs/taskfile/basic.mdx
  content/docs/taskfile/display-taskfile-summary.mdx
  content/docs/taskfile/dry-run-mode.mdx
  content/docs/taskfile/environment-variable.mdx
  content/docs/taskfile/forward-cli-arguments-to-cmd.mdx
  content/docs/taskfile/if-else-condition.mdx
  content/docs/taskfile/ignore-errors.mdx
  content/docs/taskfile/include-other-taskfile.mdx
  content/docs/taskfile/installation.mdx
  content/docs/taskfile/integrate-taskfile-with-cicd.mdx
  content/docs/taskfile/interactive-cli-application.mdx
  content/docs/taskfile/internal-tasks.mdx
  content/docs/taskfile/looping.mdx
  content/docs/taskfile/meta.json
  content/docs/taskfile/overriding-task-name.mdx
  content/docs/taskfile/platform-specific-tasks.mdx
  content/docs/taskfile/prevent-unnecessary-task-execution.mdx
  content/docs/taskfile/run-task-in-specific-order.mdx
  content/docs/taskfile/running-taskfile.mdx
  content/docs/taskfile/silent-mode.mdx
  content/docs/taskfile/task-aliases.mdx
  content/docs/taskfile/task-cleanup-with-defer.mdx
  content/docs/taskfile/task-dependencies-and-parallel-task-execution.mdx
  content/docs/taskfile/task-directory.mdx
  content/docs/taskfile/variables.mdx
  content/docs/taskfile/warning-prompts.mdx
  content/docs/taskfile/watch-tasks.mdx
  content/docs/taskfile/what-is-taskfile.mdx
  content/docs/taskfile/wildcard-args.mdx
  mdx-components.tsx
Due: prettier --write

feat: implement dynamic sitemap generation for the Next.js application
  app/(home)/sitemap.ts
Due: prettier --write, eslint --fix, eslint

chore: remove custom mermaid component
  components/custom/CustomMermaid.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,md,mdx})
  eslint --fix: any of: */**/*.{js,jsx,ts,tsx}
  eslint: any of: */**/*.{js,jsx,ts,tsx}
