Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

style: refactor loading state management in GalleryClient for improved image loading experience
  src/components/page/gallery/galleryClient.tsx
Due: prettier --write, eslint --fix, eslint

style: update background styles for improved visual appearance in blog page
  src/app/(home)/blog/[slug]/page.tsx
Due: prettier --write, eslint --fix, eslint

style: update text color to improve readability on blog page
  src/app/(home)/blog/[slug]/page.tsx
Due: prettier --write, eslint --fix, eslint

style: update InlineTOC component to default open when items are present
  src/app/(home)/blog/[slug]/page.tsx
Due: prettier --write, eslint --fix, eslint

chore: update subproject reference
  public/blog/my-ubuntu-setup/icons-output.png
Due: none

refactor: move gallery and project nav to hub
  src/app/(home)/hub/gallery/page.tsx
  src/app/(home)/hub/projects/[slug]/page.tsx
  src/app/(home)/hub/projects/page.tsx
  src/app/layout.config.tsx
  src/lib/source.ts
Due: prettier --write, eslint --fix, eslint

refactor: remove unused DocsPage and Layout components
  src/app/docs/[...slug]/page.tsx
  src/app/docs/layout.tsx
Due: prettier --write, eslint --fix, eslint

chore: add @theguild/remark-mermaid dependency and update pnpm-lock.yaml feat: add hidden display for blog in meta configuration
  package.json
  pnpm-lock.yaml
  src/app/_meta.ts
Due: prettier --write, eslint --fix, eslint

refactor: update blog metadata and hide specific blog link in navigation
  src/app/_meta.ts
  src/app/layout.tsx
  src/components/BlogClient.tsx
Due: prettier --write, eslint --fix, eslint

refactor: add search configuration for codeblocks in Nextra setup
  next.config.mjs
Due: none

refactor: hide specific blog links and adjust layout styles in ProjectBlogLayout
  next.config.mjs
  src/app/layout.tsx
  src/components/ProjectBlogLayout.tsx
Due: prettier --write, eslint --fix, eslint

blog: add guide for fixing PowerShell npm execution policy error on Windows
  src/app/blog/(sub)/fix-powershell-npm-execution-policy/page.mdx
Due: prettier --write

chore: add 'blog' type to commitlint configuration
  commitlint.config.js
Due: none

refactor: add comments section to PowerShell npm execution policy guide and create blog template
  src/app/blog/(sub)/fix-powershell-npm-execution-policy/page.mdx
  template/blog.mdx
Due: prettier --write

blog: add guides for installing Chinese characters and troubleshooting Manim installation on Ubuntu
  src/app/blog/(sub)/install-chinese-characters-on-ubuntu/page.mdx
  src/app/blog/(sub)/manim-installation-troubleshooting/page.mdx
  template/page.mdx
Due: prettier --write

feat: add getTags function and integrate tag validation in blog page
  src/app/blog/getBlogs.ts
  src/app/blog/page.tsx
  src/components/BlogClient.tsx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

feat: add tag links in blog components and create tag page for filtered posts
  src/app/tags/[tag]/page.tsx
  src/components/BlogClient.tsx
  src/components/ProjectBlogLayout.tsx
Due: prettier --write, eslint --fix, eslint

refactor: update generateMetadata function to simplify title generation
  src/app/tags/[tag]/page.tsx
Due: prettier --write, eslint --fix, eslint

feat: add ScrollArea component and integrate tag counts in blog and tags pages
  package.json
  pnpm-lock.yaml
  src/app/blog/getBlogs.ts
  src/app/blog/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/components/ui/scroll-area.tsx
Due: prettier --write, eslint --fix, eslint

feat: add RSS feed route to generate XML for blog posts
  src/app/layout.tsx
  src/app/rss.xml/route.js
Due: prettier --write, eslint --fix, eslint

refactor: add hidden display for tags in meta configuration
  src/app/_meta.ts
Due: prettier --write, eslint --fix, eslint

refactor: await params before decoding tag in page component
  src/app/tags/[tag]/page.tsx
Due: prettier --write, eslint --fix, eslint

blog: add blog post on setting up Kubeconfig file in GitHub Action secrets
  src/app/blog/(sub)/setup-kubeconfig-file-in-github-action-secrets/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement tag slug conversion for improved URL handling in blog and tags pages
  src/app/tags/[tag]/page.tsx
  src/components/BlogClient.tsx
  src/components/ProjectBlogLayout.tsx
  src/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

fix: fix gallery filter issue
  src/app/hub/gallery/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: update lastUpdate property to lastUpdated for consistency in metadata display
  src/components/ProjectBlogLayout.tsx
Due: prettier --write, eslint --fix, eslint

refactor: remove icon from tools display
  public/good-tools-and-websites/Shadcn Marketing Blocks.ico
  public/good-tools-and-websites/Supabase UI Library.ico
  public/good-tools-and-websites/aceternity.ico
  public/good-tools-and-websites/cultui.ico
  public/good-tools-and-websites/magicui.ico
  public/good-tools-and-websites/shadcn-ui-blocks.ico
  public/good-tools-and-websites/shadcnblocks.ico
  public/good-tools-and-websites/ui-layouts.ico
  src/app/hub/tools/page.tsx
  src/constants.tsx
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

chore: add command, dialog, dropdown, separate, and table components
  package.json
  pnpm-lock.yaml
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/separator.tsx
  src/components/ui/table.tsx
Due: prettier --write, eslint --fix, eslint

feat: add software glossary feature with data table and filtering options
  public/data/software-glossary.json
  src/app/hub/software-glossary/columns.tsx
  src/app/hub/software-glossary/data-table-toolbar.tsx
  src/app/hub/software-glossary/data-table.tsx
  src/app/hub/software-glossary/page.tsx
  src/components/datatable/data-table-faceted-filter.tsx
  src/components/datatable/data-table-pagination.tsx
  src/components/datatable/data-table-view-options.tsx
  src/constants.tsx
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

refactor: update software glossary data fetching to use constants for path
  src/app/hub/software-glossary/page.tsx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

fix: correct spacing in CI/CD term and improve term display alignment
  public/data/software-glossary.json
  src/app/hub/software-glossary/columns.tsx
Due: prettier --write, eslint --fix, eslint

fix: update totalCount calculation to use blogs length instead of allTags
  src/components/BlogClient.tsx
Due: prettier --write, eslint --fix, eslint

refactor: replace fetch with file read for glossary data retrieval
  src/app/hub/software-glossary/page.tsx
Due: prettier --write, eslint --fix, eslint

refactor: refactor fetching data
  public/data/good-tools-and-websites.json
  src/app/hub/software-glossary/data-table-toolbar.tsx
  src/app/hub/software-glossary/page.tsx
  src/app/hub/tools/page.tsx
  src/components/home/hero.tsx
  src/constants.tsx
  src/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

refactor: comment out banner prop in RootLayout component
  src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

blog: add example for referencing schema in JSON data
  src/app/blog/(sub)/learn-json-schema/page.mdx
Due: prettier --write

refactor: add certificates data and update constants for JSON path
  public/data/certificates.json
  src/app/hub/journey/page.tsx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

refactor: add repoUrl and demoUrl fields to page metadata
  template/page.mdx
Due: prettier --write

blog: youTube Video Downloader using Python
  src/app/blog/(sub)/youtube-video-downloader-using-python/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,md,mdx})
  eslint --fix: any of: */**/*.{js,jsx,ts,tsx}
  eslint: any of: */**/*.{js,jsx,ts,tsx}
