Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,css,md,mdx}": ["prettier --write"]
}

feat: add Image and ImageZoom components to project detail page
  src/app/(home)/projects/[slug]/page.tsx
Due: prettier --write, eslint --fix, eslint

chore: add script to rename images in the gallery
  script/rename-generative-art-image.sh
Due: none

chore: add multiple new artwork images to the gallery
  public/gallery/art-0d74986c-c55a-4bcc-a9df-382aeebd95f7.webp
  public/gallery/art-159e8088-61d0-4d11-83e1-2741e2b940be.webp
  public/gallery/art-1827bdee-e565-437c-bf6b-c30771bff972.webp
  public/gallery/art-246dccf5-f9ac-441d-b14e-3b6b561ec984.webp
  public/gallery/art-24deb163-df36-467a-affd-8856088b0966.webp
  public/gallery/art-281ccef6-bd1f-4b65-8273-68de35b26010.webp
  public/gallery/art-2b3cc565-e779-4e5f-b59a-b64aa1e8ae44.webp
  public/gallery/art-2cc3a0a8-49c3-4bb6-8343-15378f858a18.webp
  public/gallery/art-36f153ef-456e-45e2-98ef-bc32352f1342.webp
  public/gallery/art-4d183a6b-caf4-47ba-9922-1be27636c4bf.webp
  public/gallery/art-7203ae30-1435-458a-b2cd-c5288cb0faea.webp
  public/gallery/art-769f1315-c4fd-4aa9-8ee6-6110c60671cc.webp
  public/gallery/art-7d21b196-dcea-446e-80d7-7fd5fb060d82.webp
  public/gallery/art-8bed1b8d-6f94-40e3-bd74-193af3bd9fdc.webp
  public/gallery/art-97f1b4d4-925d-4d46-9b5c-0892c565d289.webp
  public/gallery/art-9b0bc22b-faea-4e59-b03d-1fb9e63aa9d9.webp
  public/gallery/art-9e35c7d3-06a5-4e52-8712-33f245d58def.webp
  public/gallery/art-a6a647ea-71c4-4c5b-b0c7-2e8a75f399b7.webp
  public/gallery/art-b918b93b-f73f-4c0a-a048-4377b954558d.webp
  public/gallery/art-d0b03258-fb64-4388-b1a8-03da844671e9.webp
  public/gallery/art-ee334dd8-64e8-420c-9317-27223a927002.webp
Due: none

fix: add missing useEffect for resetting visible item count on filter change
  src/components/page/gallery/galleryClient.tsx
Due: prettier --write, eslint --fix, eslint

chore: add configurable inputs for workflow run retention settings
  .github/workflows/delete-old-workflow-runs.yml
Due: none

refactor: update last updated label for blog post date display
  src/app/(home)/blog/[slug]/page.tsx
Due: prettier --write, eslint --fix, eslint

feat: add tags support to blog posts and implement filtering by tags
  source.config.ts
  src/app/(home)/blog/[slug]/page.tsx
  src/app/(home)/blog/page.tsx
  template/blog.mdx
Due: prettier --write, eslint --fix, eslint

refactor: comment out unused documentation for data structures and algorithms
  src/constants.ts
Due: prettier --write, eslint --fix, eslint

refactor: remove unused variable and streamline post filtering logic
  src/app/(home)/blog/page.tsx
Due: prettier --write, eslint --fix, eslint

refactor: normalize tag handling in blog, tools, projects, and gallery components
  src/app/(home)/blog/page.tsx
  src/app/(home)/hub/tools/page.tsx
  src/app/(home)/projects/page.tsx
  src/components/page/gallery/galleryClient.tsx
Due: prettier --write, eslint --fix, eslint

chore: add GitHub Actions workflow for copying generative art and update documentation
  .github/workflows/copy-generative-art.yml
  documentation/act.md
Due: prettier --write

chore: update build-and-deploy workflow to ignore documentation directory
  .github/workflows/build-and-deploy.yml
Due: none

art: copy generative art on Sun May 11 11:28:38 UTC 2025
  public/gallery/art-49e397b0-2773-4901-a2e6-71b28b3b4813.webp
  public/gallery/art-4c47b4ea-9eed-47ad-93e8-ea9b3b68c572.webp
  public/gallery/art-99673920-7a16-4e30-aced-09d7d94e14fb.webp
  public/gallery/art-b8acd087-6a5e-4d91-baf5-873b1c27803d.webp
  public/gallery/art-c22d0b7c-a774-49fe-a6a0-76b0dd77b544.webp
  public/gallery/art-d65b8584-1b9f-4db6-8103-dcaeb7cf092f.webp
  public/gallery/art-eaef9781-1f78-431b-a96b-a08b805d1ac2.webp
  public/gallery/art-f6581619-df6e-41cd-9813-a0c31f9d8c72.webp
  public/gallery/art-f8121acf-e1db-4d84-a9e0-9f459d9789b2.webp
Due: none

refactor: simplify category extraction in gallery component and update generative art copying logic
  .github/workflows/copy-generative-art.yml
  public/gallery/art/art-0d74986c-c55a-4bcc-a9df-382aeebd95f7.webp
  public/gallery/art/art-159e8088-61d0-4d11-83e1-2741e2b940be.webp
  public/gallery/art/art-1827bdee-e565-437c-bf6b-c30771bff972.webp
  public/gallery/art/art-246dccf5-f9ac-441d-b14e-3b6b561ec984.webp
  public/gallery/art/art-24deb163-df36-467a-affd-8856088b0966.webp
  public/gallery/art/art-281ccef6-bd1f-4b65-8273-68de35b26010.webp
  public/gallery/art/art-2b3cc565-e779-4e5f-b59a-b64aa1e8ae44.webp
  public/gallery/art/art-2cc3a0a8-49c3-4bb6-8343-15378f858a18.webp
  public/gallery/art/art-36f153ef-456e-45e2-98ef-bc32352f1342.webp
  public/gallery/art/art-4d183a6b-caf4-47ba-9922-1be27636c4bf.webp
  public/gallery/art/art-7203ae30-1435-458a-b2cd-c5288cb0faea.webp
  public/gallery/art/art-769f1315-c4fd-4aa9-8ee6-6110c60671cc.webp
  public/gallery/art/art-7d21b196-dcea-446e-80d7-7fd5fb060d82.webp
  public/gallery/art/art-8bed1b8d-6f94-40e3-bd74-193af3bd9fdc.webp
  public/gallery/art/art-97f1b4d4-925d-4d46-9b5c-0892c565d289.webp
  public/gallery/art/art-9b0bc22b-faea-4e59-b03d-1fb9e63aa9d9.webp
  public/gallery/art/art-9e35c7d3-06a5-4e52-8712-33f245d58def.webp
  public/gallery/art/art-a6a647ea-71c4-4c5b-b0c7-2e8a75f399b7.webp
  public/gallery/art/art-b918b93b-f73f-4c0a-a048-4377b954558d.webp
  public/gallery/art/art-d0b03258-fb64-4388-b1a8-03da844671e9.webp
  public/gallery/art/art-ee334dd8-64e8-420c-9317-27223a927002.webp
  public/gallery/penguin/penguin-penguin-challenge.webp
  public/gallery/penguin/penguin-penguin-document.webp
  public/gallery/penguin/penguin-penguin-learn.webp
  public/gallery/penguin/penguin-penguin1.webp
  public/gallery/penguin/penguin-penguin10.webp
  public/gallery/penguin/penguin-penguin11.webp
  public/gallery/penguin/penguin-penguin12.webp
  public/gallery/penguin/penguin-penguin13.webp
  public/gallery/penguin/penguin-penguin14.webp
  public/gallery/penguin/penguin-penguin2.webp
  public/gallery/penguin/penguin-penguin3.webp
  public/gallery/penguin/penguin-penguin4.webp
  public/gallery/penguin/penguin-penguin5.webp
  public/gallery/penguin/penguin-penguin6.webp
  public/gallery/penguin/penguin-penguin7.webp
  public/gallery/penguin/penguin-penguin8.webp
  public/gallery/penguin/penguin-penguin9.webp
  src/app/(home)/gallery/page.tsx
Due: prettier --write, eslint --fix, eslint

chore: remove obsolete generative art files from gallery
  public/gallery/art-49e397b0-2773-4901-a2e6-71b28b3b4813.webp
  public/gallery/art-4c47b4ea-9eed-47ad-93e8-ea9b3b68c572.webp
  public/gallery/art-99673920-7a16-4e30-aced-09d7d94e14fb.webp
  public/gallery/art-b8acd087-6a5e-4d91-baf5-873b1c27803d.webp
  public/gallery/art-c22d0b7c-a774-49fe-a6a0-76b0dd77b544.webp
  public/gallery/art-d65b8584-1b9f-4db6-8103-dcaeb7cf092f.webp
  public/gallery/art-eaef9781-1f78-431b-a96b-a08b805d1ac2.webp
  public/gallery/art-f6581619-df6e-41cd-9813-a0c31f9d8c72.webp
  public/gallery/art-f8121acf-e1db-4d84-a9e0-9f459d9789b2.webp
Due: none

chore: add concurrency settings to build-and-deploy workflow
  .github/workflows/build-and-deploy.yml
Due: none

fix: add check for changes before committing generative art
  .github/workflows/copy-generative-art.yml
Due: none

art: copy generative art on Mon May 12 08:24:32 UTC 2025
  public/gallery/art/0d74986c-c55a-4bcc-a9df-382aeebd95f7.webp
  public/gallery/art/159e8088-61d0-4d11-83e1-2741e2b940be.webp
  public/gallery/art/1827bdee-e565-437c-bf6b-c30771bff972.webp
  public/gallery/art/246dccf5-f9ac-441d-b14e-3b6b561ec984.webp
  public/gallery/art/24deb163-df36-467a-affd-8856088b0966.webp
  public/gallery/art/281ccef6-bd1f-4b65-8273-68de35b26010.webp
  public/gallery/art/2cc3a0a8-49c3-4bb6-8343-15378f858a18.webp
  public/gallery/art/49e397b0-2773-4901-a2e6-71b28b3b4813.webp
  public/gallery/art/4c47b4ea-9eed-47ad-93e8-ea9b3b68c572.webp
  public/gallery/art/4d183a6b-caf4-47ba-9922-1be27636c4bf.webp
  public/gallery/art/7203ae30-1435-458a-b2cd-c5288cb0faea.webp
  public/gallery/art/769f1315-c4fd-4aa9-8ee6-6110c60671cc.webp
  public/gallery/art/7d21b196-dcea-446e-80d7-7fd5fb060d82.webp
  public/gallery/art/8bed1b8d-6f94-40e3-bd74-193af3bd9fdc.webp
  public/gallery/art/97f1b4d4-925d-4d46-9b5c-0892c565d289.webp
  public/gallery/art/99673920-7a16-4e30-aced-09d7d94e14fb.webp
  public/gallery/art/9b0bc22b-faea-4e59-b03d-1fb9e63aa9d9.webp
  public/gallery/art/9e35c7d3-06a5-4e52-8712-33f245d58def.webp
  public/gallery/art/a6a647ea-71c4-4c5b-b0c7-2e8a75f399b7.webp
  public/gallery/art/b8acd087-6a5e-4d91-baf5-873b1c27803d.webp
  public/gallery/art/b918b93b-f73f-4c0a-a048-4377b954558d.webp
  public/gallery/art/c22d0b7c-a774-49fe-a6a0-76b0dd77b544.webp
  public/gallery/art/d0b03258-fb64-4388-b1a8-03da844671e9.webp
  public/gallery/art/d65b8584-1b9f-4db6-8103-dcaeb7cf092f.webp
  public/gallery/art/eaef9781-1f78-431b-a96b-a08b805d1ac2.webp
  public/gallery/art/ee334dd8-64e8-420c-9317-27223a927002.webp
  public/gallery/art/f6581619-df6e-41cd-9813-a0c31f9d8c72.webp
  public/gallery/art/f8121acf-e1db-4d84-a9e0-9f459d9789b2.webp
Due: none

fix: ensure existing art files are removed before copying new generative art
  .github/workflows/copy-generative-art.yml
Due: none

Update copy-generative-art.yml
  .github/workflows/copy-generative-art.yml
Due: none

art: copy generative art on Mon May 12 08:34:46 UTC 2025
  public/gallery/art/8aba1685-245f-4a6f-8f27-8f225d0ad6c7.webp
  public/gallery/art/art-0d74986c-c55a-4bcc-a9df-382aeebd95f7.webp
  public/gallery/art/art-159e8088-61d0-4d11-83e1-2741e2b940be.webp
  public/gallery/art/art-1827bdee-e565-437c-bf6b-c30771bff972.webp
  public/gallery/art/art-246dccf5-f9ac-441d-b14e-3b6b561ec984.webp
  public/gallery/art/art-24deb163-df36-467a-affd-8856088b0966.webp
  public/gallery/art/art-281ccef6-bd1f-4b65-8273-68de35b26010.webp
  public/gallery/art/art-2b3cc565-e779-4e5f-b59a-b64aa1e8ae44.webp
  public/gallery/art/art-2cc3a0a8-49c3-4bb6-8343-15378f858a18.webp
  public/gallery/art/art-36f153ef-456e-45e2-98ef-bc32352f1342.webp
  public/gallery/art/art-4d183a6b-caf4-47ba-9922-1be27636c4bf.webp
  public/gallery/art/art-7203ae30-1435-458a-b2cd-c5288cb0faea.webp
  public/gallery/art/art-769f1315-c4fd-4aa9-8ee6-6110c60671cc.webp
  public/gallery/art/art-7d21b196-dcea-446e-80d7-7fd5fb060d82.webp
  public/gallery/art/art-8bed1b8d-6f94-40e3-bd74-193af3bd9fdc.webp
  public/gallery/art/art-97f1b4d4-925d-4d46-9b5c-0892c565d289.webp
  public/gallery/art/art-9b0bc22b-faea-4e59-b03d-1fb9e63aa9d9.webp
  public/gallery/art/art-9e35c7d3-06a5-4e52-8712-33f245d58def.webp
  public/gallery/art/art-a6a647ea-71c4-4c5b-b0c7-2e8a75f399b7.webp
  public/gallery/art/art-b918b93b-f73f-4c0a-a048-4377b954558d.webp
  public/gallery/art/art-d0b03258-fb64-4388-b1a8-03da844671e9.webp
  public/gallery/art/art-ee334dd8-64e8-420c-9317-27223a927002.webp
Due: none

art: copy generative art on Mon May 12 12:21:09 UTC 2025
  public/gallery/art/49e397b0-2773-4901-a2e6-71b28b3b4813.webp
  public/gallery/art/8aba1685-245f-4a6f-8f27-8f225d0ad6c7.webp
  public/gallery/art/f6581619-df6e-41cd-9813-a0c31f9d8c72.webp
Due: none

art: copy generative art on Tue May 13 12:21:22 UTC 2025
  public/gallery/art/f57d9974-a00c-474d-988e-9fc62e682c37.webp
Due: none

art: copy generative art on Wed May 14 12:20:33 UTC 2025
  public/gallery/art/cbb4a94b-83d9-4922-b764-45b1bb7cafbf.webp
Due: none

art: copy generative art on Thu May 15 12:20:50 UTC 2025
  public/gallery/art/d9606b65-055a-4e35-808a-576f10af1463.webp
Due: none

art: copy generative art on Fri May 16 12:21:29 UTC 2025
  public/gallery/art/13809f34-41ec-47a1-97ad-92b8cc920329.webp
Due: none

docs: add Taskfile documentation entry with icon and description
  src/constants.ts
Due: prettier --write, eslint --fix, eslint

art: copy generative art on Sat May 17 12:18:08 UTC 2025
  public/gallery/art/0d74986c-c55a-4bcc-a9df-382aeebd95f7.webp
  public/gallery/art/1154c05f-bb47-4ec1-b532-821886d5c242.webp
  public/gallery/art/13809f34-41ec-47a1-97ad-92b8cc920329.webp
  public/gallery/art/4d183a6b-caf4-47ba-9922-1be27636c4bf.webp
Due: none

art: copy generative art on Sun May 18 12:18:32 UTC 2025
  public/gallery/art/1827bdee-e565-437c-bf6b-c30771bff972.webp
  public/gallery/art/badda518-7a9e-4042-bd51-5a9361c5fca9.webp
Due: none

art: copy generative art on Mon May 19 12:21:39 UTC 2025
  public/gallery/art/46775c80-3c3b-4409-8c89-16cde5259576.webp
Due: none

art: copy generative art on Tue May 20 12:22:13 UTC 2025
  public/gallery/art/6cac8431-d11a-4aba-8c68-c2a72b7bf8b3.webp
Due: none

art: copy generative art on Thu May 22 12:21:36 UTC 2025
  public/gallery/art/ccac10ef-ae42-432f-94a0-9a2f88df9006.webp
Due: none

art: copy generative art on Fri May 23 12:20:10 UTC 2025
  public/gallery/art/cab96f7d-0527-4013-9e25-30cc3cc5f5d6.webp
Due: none
