Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,css,md,mdx}": ["prettier --write"]
}

refactor: remove algorithm visualizer components and related references
  src/app/hub/algorithm-visualizer/page.tsx
  src/components/algoVisualizerSub/algorithmCard.tsx
  src/components/algoVisualizerSub/bubbleSort.tsx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

docs: bubble sort
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/sorting/_meta.ts
  src/app/docs/data-structures-and-algorithms/sorting/bubble-sort/page.mdx
  src/components/algoVisualizerSub/bubbleSort.tsx
  src/components/algoVisualizerSub/visualizers.js
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

refactor: move navbar and footer definitions inside RootLayout function
  src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

docs: linear search
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/searching/_meta.ts
  src/app/docs/data-structures-and-algorithms/searching/linear-search/page.mdx
  src/components/algoVisualizerSub/linearSearch.tsx
  src/components/algoVisualizerSub/linkedList/doublyLinkedList.tsx
  src/components/algoVisualizerSub/linkedList/singlyLinkedList.tsx
  src/components/algoVisualizerSub/sorting/bubbleSort.tsx
  src/components/algoVisualizerSub/visualizers.js
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

refactor: enhance DocsBtnSidebar item conversion and hierarchy management
  src/components/DocsBtnSidebar.tsx
Due: prettier --write, eslint --fix, eslint

feat: add collapsible functionality to CustomCallout component
  src/components/CustomCallout.tsx
Due: prettier --write, eslint --fix, eslint

feat: enhance CustomCallout component with collapsible behavior and accessibility improvements
  src/components/CustomCallout.tsx
Due: prettier --write, eslint --fix, eslint

docs: binary search
  src/app/docs/data-structures-and-algorithms/searching/_meta.ts
  src/app/docs/data-structures-and-algorithms/searching/binary-search/page.mdx
  src/components/algoVisualizerSub/searching/binarySearch.tsx
  src/components/algoVisualizerSub/searching/linearSearch.tsx
  src/components/algoVisualizerSub/visualizers.js
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

ui: refactor NotFoundPage UI with animated background and empty state components
  src/app/not-found.tsx
  src/components/ui/empty.tsx
Due: prettier --write, eslint --fix, eslint

chore: add new tools
  public/data/good-tools-and-websites.json
Due: prettier --write

feat: add rough-notation dependency and update registries in components.json
  components.json
  package.json
  pnpm-lock.yaml
Due: none

ui: add my-theme-color variable to theme configuration
  src/app/globals.css
Due: prettier --write

ui: add Highlighter component for text annotation and change about page
  src/app/about/page.tsx
  src/components/ui/highlighter.tsx
Due: prettier --write, eslint --fix, eslint

feat: integrate CrowdCanvas component and add crowd image path constant
  components.json
  package.json
  pnpm-lock.yaml
  public/peeps/all-peeps.png
  src/components/CrowdCanvas.tsx
  src/components/home/hero.tsx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

Revert "feat: integrate CrowdCanvas component and add crowd image path constant"
  components.json
  package.json
  pnpm-lock.yaml
  public/peeps/all-peeps.png
  src/components/CrowdCanvas.tsx
  src/components/home/hero.tsx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

refactor: remove unused footer styles from globals.css
  src/app/globals.css
Due: prettier --write

refactor: restructure the hub pages layout and migrate to footer component
  src/app/(me)/certificate-journey/page.tsx
  src/app/(me)/color-picker/page.tsx
  src/app/(me)/gallery/page.tsx
  src/app/(me)/good-tools-and-websites/page.tsx
  src/app/(me)/kubestronaut/page.tsx
  src/app/(me)/md-playground/page.tsx
  src/app/(me)/software-glossary/columns.tsx
  src/app/(me)/software-glossary/data-table-toolbar.tsx
  src/app/(me)/software-glossary/data-table.tsx
  src/app/(me)/software-glossary/page.tsx
  src/app/layout.tsx
  src/components/Footer.tsx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

feat: add work experiences page with timeline and technology badges
  src/app/work-experiences/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: adjust padding in footer component for better layout
  src/components/Footer.tsx
Due: prettier --write, eslint --fix, eslint

refactor: remove hub items from meta configuration and clean up unused code
  src/app/_meta.ts
Due: prettier --write, eslint --fix, eslint

fix: update page title to 'Certificate Journey' for consistency
  src/app/(me)/certificate-journey/page.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement responsive navigation bar component
  src/app/layout.tsx
  src/components/NavBar.tsx
Due: prettier --write, eslint --fix, eslint

refactor: clean up unused imports and commented-out code in layout and sidebar components
  src/app/docs/layout.tsx
  src/components/DocsBtnSidebar.tsx
Due: prettier --write, eslint --fix, eslint

refactor: rename folder
  src/app/(anything)/certificate-journey/page.tsx
  src/app/(anything)/color-picker/page.tsx
  src/app/(anything)/gallery/page.tsx
  src/app/(anything)/good-tools-and-websites/page.tsx
  src/app/(anything)/kubestronaut/page.tsx
  src/app/(anything)/md-playground/page.tsx
  src/app/(anything)/rss.xml/route.js
  src/app/(anything)/software-glossary/columns.tsx
  src/app/(anything)/software-glossary/data-table-toolbar.tsx
  src/app/(anything)/software-glossary/data-table.tsx
  src/app/(anything)/software-glossary/page.tsx
  src/app/(anything)/tags/[tag]/page.tsx
  src/app/(anything)/tags/page.tsx
  src/app/(anything)/work-experiences/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: update import path for getBlogs in tags page component
  src/app/(anything)/tags/[tag]/page.tsx
  src/app/(anything)/tags/page.tsx
Due: prettier --write, eslint --fix, eslint

migration: migrate project from hub to blog
  public/blog/generative-art/281ccef6-bd1f-4b65-8273-68de35b26010.webp
  public/blog/generative-art/d0b03258-fb64-4388-b1a8-03da844671e9.webp
  public/blog/generative-art/f8121acf-e1db-4d84-a9e0-9f459d9789b2.webp
  src/app/blog/(sub)/generative-art/page.mdx
  src/app/hub/projects/(sub)/layout.tsx
  src/app/hub/projects/_meta.ts
  src/app/hub/projects/getProjects.ts
  src/app/hub/projects/page.tsx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

fix: update date handling in BlogClient and add lastUpdated field in blog metadata
  src/components/BlogClient.tsx
  src/components/ProjectBlogLayout.tsx
  template/blog.mdx
Due: prettier --write, eslint --fix, eslint

blog: mastering wsl
  public/blog/mastering-wsl/windows-features.png
  src/app/blog/(sub)/mastering-wsl/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

chore: remove unnecessary permissions section from push-to-fork workflow
  .github/workflows/build-and-deploy.yml
  .github/workflows/push-to-fork.yml
Due: none

chore: update footer links by removing 'About' and adding 'Old Wiki' and 'Forked Site'
  src/components/Footer.tsx
Due: prettier --write, eslint --fix, eslint

chore: remove unused images and icons from the project
  public/core-values/beauty-of-coding.png
  public/core-values/build-with-passion.png
  public/core-values/learn-apply.png
  public/icons/docker.svg
  public/icons/fastapi.svg
  public/icons/git.svg
  public/icons/githubactions.svg
  public/icons/kubernetes.svg
  public/icons/python.svg
Due: none

chore: add RepoFlow for simplified package management
  public/data/good-tools-and-websites.json
Due: prettier --write

blog: setting up a proxy for docker
  src/app/blog/(sub)/setup-docker-proxy/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

chore: ensure full history is fetched during checkout in push-to-fork workflow
  .github/workflows/push-to-fork.yml
Due: none

chore: improve footer layout by adjusting alignment and width of separator
  src/components/Footer.tsx
Due: prettier --write, eslint --fix, eslint

blog: add warning about CPU resource consumption when using Multipass on Windows
  src/app/blog/(sub)/multipass-windows/page.mdx
Due: prettier --write

blog: stop service in Windows
  public/blog/stop-service-in-windows/services.png
  src/app/blog/(sub)/stop-service-in-windows/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

docs: add LeetCode solutions for various problems
  public/gallery/penguin/penguin-leetcode.webp
  src/app/docs/interview/coding/page.mdx
Due: prettier --write
