Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,css,md,mdx}": ["prettier --write"]
}

refactor: streamline link rendering in ProjectsLayout and add documentation field in page metadata
  src/components/ProjectBlogLayout.tsx
  template/page.mdx
Due: prettier --write, eslint --fix, eslint

blog: sphinx doc generator
  public/blog/sphinx-doc-generator/code.png
  public/blog/sphinx-doc-generator/index.png
  public/blog/sphinx-doc-generator/main.png
  public/blog/sphinx-doc-generator/readthedocs.png
  public/blog/sphinx-doc-generator/usage.png
  public/posts/setup-self-hosted-github-runner/img1.png
  public/posts/setup-self-hosted-github-runner/img2.png
  public/posts/setup-self-hosted-github-runner/img3.png
  public/posts/setup-self-hosted-github-runner/img4.png
  public/posts/setup-self-hosted-github-runner/img5.png
  public/posts/setup-self-hosted-github-runner/img6.png
  src/app/blog/(sub)/sphinx-doc-generator/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

blog: convert sphinx doc to pdf
  src/app/blog/(sub)/convert-sphinx-to-pdf/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

refactor: sort blogs by title in tag filtering for improved readability
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
Due: prettier --write, eslint --fix, eslint

refactor: sort documentation items by title for improved organization
  src/app/_meta.ts
Due: prettier --write, eslint --fix, eslint

docs: add Data Structures and Algorithms documentation and update constants
  .gitignore
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/page.mdx
  src/app/docs/data-structures-and-algorithms/what-is-data-structures-and-algorithms/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

feat: add support for 'question' type in CustomCallout component
  src/components/CustomCallout.tsx
Due: prettier --write, eslint --fix, eslint

docs: ram
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/ram/page.mdx
  src/app/globals.css
  src/components/algoVisualizerSub/ram.tsx
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

fix: add overflow-x-auto to Alert component in CustomCallout for better layout
  src/components/CustomCallout.tsx
Due: prettier --write, eslint --fix, eslint

RAM docs setup (#36)
  .gitignore
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/page.mdx
  src/app/docs/data-structures-and-algorithms/ram/page.mdx
  src/app/docs/data-structures-and-algorithms/what-is-data-structures-and-algorithms/page.mdx
  src/app/globals.css
  src/components/CustomCallout.tsx
  src/components/algoVisualizerSub/ram.tsx
  src/constants.tsx
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

docs: static array
  public/docs/data-structures-and-algorithms/ram-character.png
  public/docs/data-structures-and-algorithms/ram.png
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/static-array/page.mdx
  src/app/globals.css
  src/components/algoVisualizerSub/staticArray.tsx
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

feat: add interview hub page and link in constants
  src/app/hub/interview/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

chore: add @radix-ui/react-tabs and reading-time dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: implement Tabs component with TabsList, TabsTrigger, and TabsContent
  src/components/ui/tabs.tsx
Due: prettier --write, eslint --fix, eslint

feat: add DocsLayout and DocsBtnSidebar components for documentation navigation
  src/app/docs/layout.tsx
  src/components/DocsBtnSidebar.tsx
Due: prettier --write, eslint --fix, eslint

fix: refactor DocsBtnSidebar button rendering and fix toc items
  src/components/DocsBtnSidebar.tsx
Due: prettier --write, eslint --fix, eslint

chore: remove schedule run
  .github/workflows/delete-old-workflow-runs.yml
Due: none

chore: customize template for blog and single page
  template/blog.mdx
  template/single-page.mdx
Due: prettier --write

migration: migrate hub interview contents to docs path
  src/app/docs/interview/_meta.ts
  src/app/docs/interview/page.mdx
  src/app/docs/interview/technical/page.mdx
  src/app/docs/interview/welcome/page.mdx
  src/constants.tsx
Due: prettier --write, eslint --fix, eslint

docs: interview docs
  src/app/docs/interview/_meta.ts
  src/app/docs/interview/coding/page.mdx
  src/app/docs/interview/concept/page.mdx
Due: prettier --write, eslint --fix, eslint

fix: correct typos in static array documentation and implementation
  src/app/docs/data-structures-and-algorithms/static-array/page.mdx
Due: prettier --write

docs: dynamic array docs
  src/app/docs/data-structures-and-algorithms/dynamic-array/page.mdx
  src/components/algoVisualizerSub/dynamicArray.tsx
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

docs: add stack documentation
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/stack/page.mdx
Due: prettier --write, eslint --fix, eslint

feat: add stack visualization component and integrate into visualizers
  src/app/docs/data-structures-and-algorithms/stack/page.mdx
  src/components/algoVisualizerSub/stack.tsx
  src/components/algoVisualizerSub/visualizers.js
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

refactor: remove redundant descriptions from visualization sections
  src/app/docs/data-structures-and-algorithms/dynamic-array/page.mdx
  src/app/docs/data-structures-and-algorithms/ram/page.mdx
  src/app/docs/data-structures-and-algorithms/stack/page.mdx
  src/app/docs/data-structures-and-algorithms/static-array/page.mdx
Due: prettier --write

docs: singly linked list docs
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/ram/page.mdx
  src/app/docs/data-structures-and-algorithms/singly-linked-lists/page.mdx
  src/components/algoVisualizerSub/singlyLinkedList.tsx
  src/components/algoVisualizerSub/visualizers.js
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

ui: update job company text color for consistency
  src/app/about/page.tsx
  src/app/globals.css
Due: prettier --write, eslint --fix, eslint

docs: comment out GitHub Release badge in README
  README.md
Due: none

feat: implement singly linked list visualization with interactive operations
  src/components/algoVisualizerSub/singlyLinkedList.tsx
Due: prettier --write, eslint --fix, eslint

docs: enhance linked list documentation with clearer comparisons and examples
  src/app/docs/data-structures-and-algorithms/singly-linked-lists/page.mdx
Due: prettier --write

docs: add circular linked list section with implementation examples
  src/app/docs/data-structures-and-algorithms/singly-linked-lists/page.mdx
Due: prettier --write

docs: singly linked list docs (#38)
  README.md
  src/app/about/page.tsx
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/ram/page.mdx
  src/app/docs/data-structures-and-algorithms/singly-linked-lists/page.mdx
  src/app/globals.css
  src/components/algoVisualizerSub/singlyLinkedList.tsx
  src/components/algoVisualizerSub/visualizers.js
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

blog: update various documentation for clarity and accuracy
  src/app/blog/(sub)/add-apt-repository-unable-to-support-jammy/page.mdx
  src/app/blog/(sub)/clear-linux-history/page.mdx
  src/app/blog/(sub)/fix-docker-compose-error-max-virtual-memory-areas-vm-max-map-count-65530-is-too-low-increase-to-at-least-262144/page.mdx
  src/app/blog/(sub)/get-python-project-libraries-using-pipreqs/page.mdx
  src/app/blog/(sub)/got-permission-denied-while-trying-to-connect-to-the-docker-daemon-socket-at-unixvarrun-dockersock/page.mdx
  src/app/blog/(sub)/install-java-openjdk-17/page.mdx
  src/app/blog/(sub)/install-java-with-apt-on-ubuntu/page.mdx
  src/app/blog/(sub)/install-kubevirt/page.mdx
  src/app/blog/(sub)/install-maven-mvn/page.mdx
  src/app/blog/(sub)/install-nektos-act-on-ubuntu/page.mdx
  src/app/blog/(sub)/no-module-named-apt_pkg/page.mdx
  src/app/blog/(sub)/pip-issue-no-module-ensurepip/page.mdx
  src/app/blog/(sub)/property-context-does-not-exist-on-type-require/page.mdx
  src/app/blog/(sub)/setup-node-js/page.mdx
  src/app/blog/(sub)/use-different-python-version-to-setup-python-virtual-environment/page.mdx
Due: prettier --write

docs: enhance Big-O time complexity table for linked list operations
  src/app/docs/data-structures-and-algorithms/singly-linked-lists/page.mdx
Due: prettier --write

docs: add doubly linked lists
  src/app/docs/data-structures-and-algorithms/_meta.ts
  src/app/docs/data-structures-and-algorithms/linked-lists/_meta.ts
  src/app/docs/data-structures-and-algorithms/linked-lists/doubly-linked-lists/page.mdx
  src/app/docs/data-structures-and-algorithms/linked-lists/singly-linked-lists/page.mdx
  src/components/DocsOverview.tsx
  src/components/algoVisualizerSub/doublyLinkedList.tsx
  src/components/algoVisualizerSub/visualizers.js
  src/mdx-components.js
Due: prettier --write, eslint --fix, eslint

refactor: update repository reference in Comments component
  src/components/Comments.tsx
Due: prettier --write, eslint --fix, eslint
