Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

refactor: remove category from blog and combine everything into one
  src/components/page/BlogOverview.tsx
  src/constants/index.ts
  src/pages/blog/_meta.json
  src/pages/blog/edit-and-fix.mdx
  src/pages/blog/problem-solving.mdx
  src/pages/blog/technology.mdx
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

docs: add more problem solving docs
  src/constants/index.ts
  src/pages/blog/problem-solving.mdx
Due: prettier --write, eslint --fix, eslint

docs(kubernetes): setup Kubernetes docs
  public/docs/kubernetes/kube-controller-manager.png
  public/docs/kubernetes/kube-scheduler-ranking.gif
  public/docs/kubernetes/node-controller.gif
  public/docs/kubernetes/replication-controller.gif
Due: none

docs(kubernetes): setup Kubernetes docs
  public/docs/kubernetes/kube-controller-manager.png
  public/docs/kubernetes/kube-scheduler-ranking.gif
  public/docs/kubernetes/node-controller.gif
  public/docs/kubernetes/replication-controller.gif
  src/pages/docs/kubernetes/cluster-architecture.mdx
Due: prettier --write

chore(template): create doc template
  src/templates/doc.mdx
Due: prettier --write

docs(kubernetes): setup Kubernetes docs
  src/templates/doc.mdx
Due: prettier --write

docs(kubernetes): setup Kubernetes docs
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/cluster-architecture.mdx
  src/pages/docs/kubernetes/container-runtime.mdx
  src/pages/docs/kubernetes/what-is-kubernetes.mdx
  src/templates/doc.mdx
Due: prettier --write

refactor: move compiler location to /anything subpath
  src/components/Hero.tsx
  src/pages/_meta.json
  src/pages/anything/_meta.json
  src/pages/anything/compiler.mdx
Due: prettier --write, eslint --fix, eslint

feat: integrate codesandbox/sandpack into website
  package-lock.json
  package.json
  src/components/page/CodeSandbox.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/pages/_meta.json
  src/pages/anything/_meta.json
  src/pages/anything/codesandbox.mdx
Due: prettier --write, eslint --fix, eslint

docs: setup data structures and algorithms docs
  public/docs/data-structures-and-algorithms/dynamic-array-1.png
  public/docs/data-structures-and-algorithms/dynamic-array-2.png
  public/docs/data-structures-and-algorithms/listnode.png
  public/docs/data-structures-and-algorithms/listnode2.png
  public/docs/data-structures-and-algorithms/ram-character.png
  public/docs/data-structures-and-algorithms/ram.png
  public/docs/data-structures-and-algorithms/stack.png
  src/constants/index.ts
  src/pages/_meta.json
  src/templates/doc.mdx
Due: prettier --write, eslint --fix, eslint

docs: setup data structures and algorithms docs
  public/docs/data-structures-and-algorithms/dynamic-array-1.png
  public/docs/data-structures-and-algorithms/dynamic-array-2.png
  public/docs/data-structures-and-algorithms/listnode.png
  public/docs/data-structures-and-algorithms/listnode2.png
  public/docs/data-structures-and-algorithms/ram-character.png
  public/docs/data-structures-and-algorithms/ram.png
  public/docs/data-structures-and-algorithms/stack.png
  src/constants/index.ts
  src/pages/_meta.json
  src/pages/docs/data-structures-and-algorithms/_meta.json
  src/pages/docs/data-structures-and-algorithms/dynamic-array.mdx
  src/pages/docs/data-structures-and-algorithms/memory.mdx
  src/pages/docs/data-structures-and-algorithms/queue.mdx
  src/pages/docs/data-structures-and-algorithms/singly-linked-lists.mdx
  src/pages/docs/data-structures-and-algorithms/stack.mdx
  src/pages/docs/data-structures-and-algorithms/static-array.mdx
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/pod.mdx
  src/templates/doc.mdx
Due: prettier --write, eslint --fix, eslint

docs: kubernetes add-on
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/command-and-args.mdx
  src/pages/docs/kubernetes/deployment.mdx
  src/pages/docs/kubernetes/replica-set.mdx
  src/pages/docs/kubernetes/what-is-kubernetes.mdx
Due: prettier --write

ui: create animated beam of me and blending skill sections
  package-lock.json
  package.json
  public/assets/icons/docker.svg
  public/assets/icons/fastapi.svg
  public/assets/icons/git.svg
  public/assets/icons/githubactions.svg
  public/assets/icons/kubernetes.svg
  public/assets/icons/python.svg
  public/assets/images/personal/karchunt.jpg
  src/app/globals.css
  src/app/page.tsx
  src/components/shared/home/beamOfMe.tsx
  src/components/shared/home/blendingSkill.tsx
  src/components/shared/home/hero.tsx
  src/components/ui/animated-beam.tsx
  src/components/ui/border-beam.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/icon-cloud.tsx
  src/components/ui/scroll-area.tsx
  src/constants/index.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

ui: renew docs UI
  src/app/docs/page.tsx
  src/components/shared/feature-card.tsx
  src/components/shared/home/hero.tsx
  src/components/ui/card.tsx
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

ui: set new padding and hide change theme button from navbar
  src/components/shared/home/blendingSkill.tsx
  src/components/shared/home/coreValues.tsx
  src/components/shared/home/hero.tsx
  src/components/shared/navbar.tsx
Due: prettier --write, eslint --fix, eslint

refactor: restructure the file and folder structure and add sparkles UI
  src/app/(main)/layout.tsx
  src/app/(main)/page.tsx
  src/app/about/page.tsx
  src/app/layout.tsx
  src/components/ui/sparkles.tsx
Due: prettier --write, eslint --fix, eslint

refactor: refactor some UI layout and migrate _meta.json to _meta.tsx
  package-lock.json
  package.json
  src/pages/404.mdx
  src/pages/docs/_meta.tsx
  src/pages/docs/data-structures-and-algorithms/_meta.tsx
  src/pages/docs/docker/_meta.tsx
  src/pages/docs/git/_meta.tsx
  src/pages/docs/kubernetes/_meta.tsx
  src/pages/docs/ssh/_meta.tsx
  src/pages/docs/twelve-factor-app/_meta.tsx
Due: prettier --write, eslint --fix, eslint

manifest: refactor CI/CD portion
  .github/workflows/build-and-deploy.yml
  .github/workflows/merge-pr.yml.old
  .github/workflows/pr-checker.yml.old
  commitlint.config.js
Due: none

chore: prepare for production release
  next.config.mjs
  src/constants/index.ts
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

ui: setup docs main UI section page
  public/passion-in-coding.png
  src/components/page/Docs.tsx
  src/components/shared/feature-card.tsx
  src/components/shared/hero.tsx
  src/components/ui/card.tsx
  src/constants/index.ts
  src/pages/_meta.tsx
  src/pages/docs.mdx
  src/pages/docs/_meta.tsx
Due: prettier --write, eslint --fix, eslint

chore: remove unused files
  public/phases/penguin-challenge-removebg.webp
  public/phases/penguin-document-removebg.webp
  public/phases/penguin-learn-removebg.webp
Due: none

ui: create a brand new UI for about page
  package-lock.json
  package.json
  src/components/page/About.tsx
  src/components/ui/animated-testimonials.tsx
  src/constants/index.ts
  src/pages/_meta.tsx
Due: prettier --write, eslint --fix, eslint

chore: temp remove files
  next.config.mjs
  package-lock.json
  src/components/page/BlogOverview.tsx
  src/components/page/Gallery.tsx
  src/pages/blog/overview.mdx
  src/pages/blog/problem-solving.mdx
  src/pages/gallery.mdx
Due: prettier --write, eslint --fix, eslint

fix: fix deployment error
  .eslintignore
  .eslintrc.json
  .github/actions/install-npm-dependencies/action.yml
  next.config.mjs
  next.config.ts
  package-lock.json
  package.json
  src/pages/_meta.ts
  src/pages/docs/_meta.ts
  src/pages/docs/data-structures-and-algorithms/_meta.ts
  src/pages/docs/docker/_meta.ts
  src/pages/docs/git/_meta.ts
  src/pages/docs/kubernetes/_meta.ts
  src/pages/docs/ssh/_meta.ts
  src/pages/docs/twelve-factor-app/_meta.ts
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

fix: fix deployment error and revert nextra back to v2
  .eslintignore
  .eslintrc.json
  .github/actions/install-npm-dependencies/action.yml
  next.config.js
  next.config.mjs
  package-lock.json
  package.json
  src/components/shared/beamOfMe.tsx
  src/components/shared/blendingSkill.tsx
  src/components/shared/feature-card.tsx
  src/components/shared/hero.tsx
  src/components/ui/hero-video-dialog.tsx
  src/globals.css
  src/pages/_app.mdx
  src/pages/_meta.json
  src/pages/_meta.tsx
  src/pages/docs.mdx
  tailwind.config.ts
  theme.config.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

fix: fix deployment error and revert nextra back to v2
  .eslintignore
  .eslintrc.json
  .github/actions/install-npm-dependencies/action.yml
  next.config.js
  next.config.mjs
  package-lock.json
  package.json
  src/components/shared/beamOfMe.tsx
  src/components/shared/blendingSkill.tsx
  src/components/shared/feature-card.tsx
  src/components/shared/hero.tsx
  src/components/ui/hero-video-dialog.tsx
  src/globals.css
  src/pages/_app.mdx
  src/pages/_meta.json
  src/pages/_meta.tsx
  src/pages/docs.mdx
  src/pages/docs/_meta.json
  src/pages/docs/_meta.tsx
  src/pages/docs/data-structures-and-algorithms/_meta.json
  src/pages/docs/data-structures-and-algorithms/_meta.tsx
  src/pages/docs/docker/_meta.json
  src/pages/docs/docker/_meta.tsx
  src/pages/docs/git/_meta.json
  src/pages/docs/git/_meta.tsx
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/_meta.tsx
  src/pages/docs/ssh/_meta.json
  src/pages/docs/ssh/_meta.tsx
  src/pages/docs/twelve-factor-app/_meta.json
  src/pages/docs/twelve-factor-app/_meta.tsx
  tailwind.config.ts
  theme.config.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

ui: bring back gallery UI
  src/components/page/Gallery.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/focus-cards.tsx
  src/constants/index.ts
  src/pages/_meta.json
  src/pages/gallery.mdx
Due: prettier --write, eslint --fix, eslint

docs: kubernetes add-on (#27)
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/command-and-args.mdx
  src/pages/docs/kubernetes/deployment.mdx
  src/pages/docs/kubernetes/replica-set.mdx
  src/pages/docs/kubernetes/what-is-kubernetes.mdx
Due: prettier --write

ui: set flex to button and add dot in footer
  src/components/shared/hero.tsx
  theme.config.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,md,mdx})
  eslint --fix: any of: */**/*.{js,jsx,ts,tsx}
  eslint: any of: */**/*.{js,jsx,ts,tsx}
