Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,css,md,mdx}": ["prettier --write"]
}

ui: replace dropdownmenu to select and remove duplicate images
  package-lock.json
  package.json
  src/components/page/Gallery.tsx
  src/components/shared/feature-card.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/constants/index.ts
Due: prettier --write, eslint --fix, eslint

ui: recreate new blog UI
  src/components/page/Blog.tsx
  src/constants/index.ts
  src/pages/_meta.json
  src/pages/blog.mdx
  src/pages/blog/_meta.json
  src/pages/blog/add-apt-repository-unable-to-support-jammy.mdx
  src/pages/blog/edit-hostname-on-ubuntu.mdx
  src/pages/blog/fix-docker-compose-error-max-virtual-memory-areas-vm-max-map-count-65530-is-too-low-increase-to-at-least-262144.mdx
  src/pages/blog/fix-git-lfs-pointers-issue.mdx
  src/pages/blog/got-permission-denied-while-trying-to-connect-to-the-docker-daemon-socket-at-unixvarrundockersock.mdx
  src/pages/blog/install-java-openjdk-17.mdx
  src/pages/blog/install-java-with-apt-on-ubuntu.mdx
  src/pages/blog/install-jenkins-with-docker-compose.mdx
  src/pages/blog/install-kubevirt.mdx
  src/pages/blog/install-latest-git.mdx
  src/pages/blog/install-maven-mvn.mdx
  src/pages/blog/install-packages-using-deb-file.mdx
  src/pages/blog/nginx-permission-problem-nginx-emerg-mkdir-varcachenginxclient_temp-failed-13-permission-denied.mdx
  src/pages/blog/no-module-named-apt_pkg.mdx
  src/pages/blog/run-sudo-command-without-a-password.mdx
  src/pages/blog/setup-k3s-on-ubuntu.mdx
  src/pages/blog/setup-self-hosted-github-runner.mdx
  src/pages/blog/share-your-local-server-with-ngrok.mdx
  src/pages/blog/use-different-python-version-to-setup-python-virtual-environment.mdx
  src/templates/blog.mdx
Due: prettier --write, eslint --fix, eslint

manifest: setup Kubernetes configmap and secret docs
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/env-and-secrets-setup.mdx
Due: prettier --write

feat: support documentation hierarchy for SSH and 12 factor app
  src/components/page/DocHierarchy.tsx
  src/components/shared/treeNode.tsx
  src/constants/index.ts
  src/types/type.d.ts
  theme.config.tsx
Due: prettier --write, eslint --fix, eslint

feat: support documentation hierarchy for SSH and 12 factor app
  src/components/page/DocHierarchy.tsx
  src/components/shared/treeNode.tsx
  src/constants/index.ts
  src/pages/docs/ssh.mdx
  src/pages/docs/twelve-factor-app.mdx
  src/types/type.d.ts
  theme.config.tsx
Due: prettier --write, eslint --fix, eslint

docs(Kubernetes): add on Kubernetes docs
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/deployment.mdx
  src/pages/docs/kubernetes/labels-selectors-and-annotations.mdx
  src/pages/docs/kubernetes/namespace.mdx
Due: prettier --write

docs(Kubernetes): add on Kubernetes docs (#28)
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/deployment.mdx
  src/pages/docs/kubernetes/labels-selectors-and-annotations.mdx
  src/pages/docs/kubernetes/namespace.mdx
Due: prettier --write

chore: remove unused dependency
  package-lock.json
Due: none

fix: remove console.log and fix about page blog broken link
  src/components/Comments.tsx
  src/components/page/About.tsx
Due: prettier --write, eslint --fix, eslint

chore: check hierarchy length condition
  src/components/shared/treeNode.tsx
Due: prettier --write, eslint --fix, eslint

chore: temp remove data structures and algorithms docs and setup docker and git roadmap
  src/constants/index.ts
  src/pages/_meta.json
Due: prettier --write, eslint --fix, eslint

chore: temp remove data structures and algorithms docs and setup docker and git roadmap
  src/constants/index.ts
  src/pages/_meta.json
  src/pages/docs/docker.mdx
  src/pages/docs/git.mdx
Due: prettier --write, eslint --fix, eslint

chore: update README
  README.md
Due: none

docs(kubernetes): setup services docs
  package-lock.json
  package.json
  public/docs/kubernetes/nodeport-more.gif
  public/docs/kubernetes/nodeport.png
  src/components/ui/accordion.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

docs(kubernetes): setup services docs
  package-lock.json
  package.json
  public/docs/kubernetes/nodeport-more.gif
  public/docs/kubernetes/nodeport.png
  src/components/ui/accordion.tsx
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/pod.mdx
  src/pages/docs/kubernetes/services.mdx
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

chore: setup vscode default settings
  .vscode/settings.json
Due: prettier --write

chore: add helper script for creating documentation roadmap
  src/helper/main.py
Due: none

docs(kubernetes): setup manual scheduling docs
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/manual-scheduling.mdx
Due: prettier --write

docs(kubernetes): setup readiness probes doc
  src/pages/docs/kubernetes/_meta.json
  src/pages/docs/kubernetes/readiness-probes.mdx
Due: prettier --write

chore: setup scroll progress for the page
  package-lock.json
  package.json
  src/components/ui/scroll-progress.tsx
  src/pages/_app.mdx
Due: prettier --write, eslint --fix, eslint

chore: change the homepage video image
  public/intro-page.png
  src/components/shared/hero.tsx
Due: prettier --write, eslint --fix, eslint

ui: add world map for displaying the knowledge being shared and learned from other countries
  package-lock.json
  package.json
  src/components/shared/blendingSkill.tsx
  src/components/shared/coreValues.tsx
  src/components/ui/world-map.tsx
  src/constants/index.ts
Due: prettier --write, eslint --fix, eslint

ci: add --legacy-peer-deps into npm install command
  .github/actions/install-npm-dependencies/action.yml
Due: none

refactor: remove unused module
  src/components/shared/hero.tsx
Due: prettier --write, eslint --fix, eslint

chore: update submodule to latest commit
  .gitmodules
Due: none

ci: clone repo with submodules
  .github/workflows/build-and-deploy.yml
  submodule-ref.md
Due: none

ci: clone with github token
  .github/workflows/build-and-deploy.yml
Due: none

New docs poc (#31)
  .github/workflows/build-and-deploy.yml
  .gitmodules
  submodule-ref.md
Due: none

chore: post merge with npm legacy setup
  .husky/post-merge
Due: none

ui: remove worldmap from blending skill
  src/components/shared/blendingSkill.tsx
Due: prettier --write, eslint --fix, eslint
