Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*/**/*.{json,css,md,mdx}": ["prettier --write"]
}

ui: setup hero UI
  pages/_meta.json
  pages/components/Hero.tsx
  pages/components/page/Home.tsx
  pages/components/ui/Spotlight.tsx
  pages/components/ui/button.tsx
  pages/components/ui/flip-words.tsx
  pages/components/ui/text-generate-effect.tsx
  pages/index.mdx
Due: prettier --write, eslint --fix, eslint

ui: setup docs ui
  pages/components/Docs.tsx
  pages/components/Hero.tsx
  pages/components/page/Home.tsx
  pages/components/ui/card-hover-effect.tsx
  pages/constants/index.ts
  pages/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

ui: setup phase ui
  package-lock.json
  package.json
  pages/_meta.json
  pages/components/Hero.tsx
  pages/components/Phase.tsx
  pages/components/page/Home.tsx
  pages/components/ui/Spotlight.tsx
  pages/components/ui/canvas-reveal-effect.tsx
  pages/components/ui/card-hover-effect.tsx
  public/gallery/penguin-challenge.webp
  public/gallery/penguin-document.webp
  public/gallery/penguin-learn.webp
  public/phases/penguin-challenge-removebg.webp
  public/phases/penguin-document-removebg.webp
  public/phases/penguin-learn-removebg.webp
Due: prettier --write, eslint --fix, eslint

chore: rename theme.config file and add more configs into it
  next.config.js
  pages/_meta.json
  pages/globals.css
  theme.config.tsx
Due: prettier --write

chore: set defaultShowCopyCode to true for global config
  next.config.js
Due: none

docs: migrate SSH docs from vitepress to nextra
  pages/docs/_meta.json
  pages/docs/ssh/_meta.json
  pages/docs/ssh/host-configuration.mdx
  pages/docs/ssh/installation.mdx
  pages/docs/ssh/local-tunneling.mdx
  pages/docs/ssh/play-with-ssh-keys.mdx
  pages/docs/ssh/remote-server-connection.mdx
  pages/docs/ssh/remote-tunneling.mdx
  pages/docs/ssh/server-configuration.mdx
  pages/docs/ssh/ssh-overview.mdx
Due: prettier --write

migration: migrate compiler from vitepress to nextra
  pages/_meta.json
  pages/compiler.mdx
  pages/components/page/Compiler.tsx
Due: prettier --write, eslint --fix, eslint

docs: migrate how-to docs from vitepress to nextra
  pages/docs/how-to/_meta.json
  pages/docs/how-to/edit-and-fix.mdx
  pages/docs/how-to/overview.mdx
  pages/docs/how-to/setup-and-install.mdx
  pages/docs/how-to/technology.mdx
Due: prettier --write

docs: migrate 12 factor app docs from vitepress to nextra
  pages/docs/twelve-factor-app/_meta.json
  pages/docs/twelve-factor-app/introduction.mdx
  public/docs/twelve-factor-app/admin-processes.gif
  public/docs/twelve-factor-app/codebase.png
  public/docs/twelve-factor-app/dev-prod-parity.gif
  public/docs/twelve-factor-app/logs-1.gif
  public/docs/twelve-factor-app/logs-2.gif
  public/docs/twelve-factor-app/logs-3.gif
Due: prettier --write

docs: migrate Kubernetes docs from vitepress to nextra
  pages/docs/kubernetes/_meta.json
  pages/docs/kubernetes/cluster-architecture.mdx
  pages/docs/kubernetes/what-is-kubernetes.mdx
  theme.config.tsx
Due: prettier --write

docs: migrate git docs from vitepress to nextrc
  pages/_meta.json
  pages/docs/git/_meta.json
  pages/docs/git/branches.mdx
  pages/docs/git/git-in-depth.mdx
  pages/docs/git/git-installation.mdx
  pages/docs/git/rebasing.mdx
  pages/docs/git/reflog.mdx
  pages/docs/git/remote-repositories.mdx
  pages/docs/git/reset-and-revert.mdx
  pages/docs/git/save-changes.mdx
  pages/docs/git/setup-repository.mdx
  pages/docs/git/stashing.mdx
  pages/docs/git/what-is-git.mdx
Due: prettier --write

docs: migrate docker docs from vitepress to nextra
  pages/docs/docker/_meta.json
  pages/docs/docker/container.mdx
  pages/docs/docker/daemon-configuration.mdx
  pages/docs/docker/docker-architecture.mdx
  pages/docs/docker/docker-compose.mdx
  pages/docs/docker/docker-installation.mdx
  pages/docs/docker/future.mdx
  pages/docs/docker/image.mdx
  pages/docs/docker/network.mdx
  pages/docs/docker/resource-limits.mdx
  pages/docs/docker/useful-commands.mdx
  pages/docs/docker/volume.mdx
  pages/docs/docker/what-is-docker.mdx
Due: prettier --write

ui: recustomize UI and set respective layout
  pages/_meta.json
  pages/components/page/Compiler.tsx
  pages/components/page/Home.tsx
Due: prettier --write, eslint --fix, eslint

ui: create a brand new UI for gallery
  package-lock.json
  package.json
  pages/components/page/Gallery.tsx
  pages/components/ui/card.tsx
  pages/components/ui/dialog.tsx
  pages/constants/index.ts
  pages/gallery.mdx
  public/gallery/penguin1.webp
  public/gallery/penguin10.webp
  public/gallery/penguin11.webp
  public/gallery/penguin12.webp
  public/gallery/penguin13.webp
  public/gallery/penguin14.webp
  public/gallery/penguin2.webp
  public/gallery/penguin3.webp
  public/gallery/penguin4.webp
  public/gallery/penguin5.webp
  public/gallery/penguin6.webp
  public/gallery/penguin7.webp
  public/gallery/penguin8.webp
  public/gallery/penguin9.webp
Due: prettier --write, eslint --fix, eslint

ui: create 404 page not found ui
  pages/404.mdx
Due: prettier --write

ui: create brand new ui for about page
  package-lock.json
  package.json
  pages/_meta.json
  pages/about.mdx
  pages/components/page/About.tsx
  pages/components/ui/animated-tooltip.tsx
  pages/components/ui/text-reveal-card.tsx
  pages/constants/index.ts
  public/personal/anotherme.webp
Due: prettier --write, eslint --fix, eslint

ui: customize the UI layout
  pages/components/page/Gallery.tsx
  pages/docs/git/save-changes.mdx
  pages/docs/kubernetes/cluster-architecture.mdx
Due: prettier --write, eslint --fix, eslint

chore: setup SEO dynamic headers
  theme.config.tsx
Due: none

chore: remove timestamp from 404
  pages/404.mdx
Due: prettier --write

ui: create brand new blog UI design
  .lintstagedrc
  .prettierignore
  package.json
  pages/_meta.json
  pages/blog/_meta.json
  pages/blog/edit-and-fix.mdx
  pages/blog/overview.mdx
  pages/blog/setup-and-install.mdx
  pages/blog/technology.mdx
  pages/components/Hero.tsx
  pages/components/page/About.tsx
  pages/constants/index.ts
  pages/docs/how-to/edit-and-fix.mdx
  pages/docs/how-to/overview.mdx
  public/posts/setup-self-hosted-github-runner/img1.png
  public/posts/setup-self-hosted-github-runner/img2.png
  public/posts/setup-self-hosted-github-runner/img3.png
  public/posts/setup-self-hosted-github-runner/img4.png
  public/posts/setup-self-hosted-github-runner/img5.png
  public/posts/setup-self-hosted-github-runner/img6.png
Due: prettier --write, eslint --fix, eslint

chore: add deployment steps and set image unoptimized to true
  next.config.js
  package-lock.json
  package.json
Due: none

chore: ignore dist/ directory being pushed to GitHub
  .gitignore
Due: none

chore(release): 2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: rename jsx to tsx
  tailwind.config.ts
Due: none

chore: support Dockerfile in karchunt.com repo
  .dockerignore
  .eslintignore
  .prettierignore
  Dockerfile
  package-lock.json
  package.json
Due: none

chore(sitemap): generate sitemap
  next-sitemap.config.js
  package-lock.json
  package.json
Due: none

chore(release): 2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ui: setup project UI page
  package-lock.json
  package.json
  src/components/page/Project.tsx
  src/components/ui/bento-grid-with-link.tsx
  src/constants/index.ts
  src/pages/_meta.json
  src/pages/anything/_meta.json
  src/pages/anything/projects.mdx
  src/types/type.d.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint
