Repository KarChunT/karchunt.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

feat: add Book page and related components for book display
  src/components/page/Book.tsx
  src/components/shared/BookCard.tsx
  src/components/shared/BookCover.tsx
  src/pages/_meta.json
  src/pages/hub/_meta.json
  src/pages/hub/book.mdx
Due: prettier --write, eslint --fix, eslint

refactor: restructure Journey navigation page
  src/components/page/About.tsx
  src/pages/_meta.json
  src/pages/hub/_meta.json
  src/pages/hub/journey.mdx
  theme.config.tsx
Due: prettier --write, eslint --fix, eslint

feat: add PulsatingButton component with customizable pulse effect
  src/components/ui/pulsating-button.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

feat: add BOOKS constant with initial book data and update Book interface
  src/constants/index.ts
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

feat: add books page and related components, update meta information
  public/book-cover/atomic-habit.webp
  src/pages/_meta.json
  src/pages/hub/_meta.json
  src/pages/hub/books.mdx
  src/pages/hub/books/_meta.json
  src/pages/hub/books/atomic-habit.mdx
Due: prettier --write

refactor: remove unused lodash import from Journey component
  src/components/page/Journey.tsx
Due: prettier --write, eslint --fix, eslint

chore: add KCNA certificate with image and certification link
  public/certificates/kcna.png
  src/constants/index.ts
Due: prettier --write, eslint --fix, eslint

chore: add new submodule to public/pdf
  .gitmodules
Due: none

chore: add PDF viewer dependencies to package.json
  package-lock.json
  package.json
Due: none

refactor: add pdfUrl property to Book interface and update Atomic Habits entry
  src/constants/index.ts
  src/types/type.d.ts
Due: prettier --write, eslint --fix, eslint

chore: setup pdf.worker.min.js for pdf display
  public/pdf-worker/pdf.worker.min.js
Due: prettier --write, eslint --fix, eslint

feat: add BookInfo component with PDF viewer functionality
  src/components/page/BookInfo.tsx
Due: prettier --write, eslint --fix, eslint

feat: add SpinningText component for animated text display
  src/components/ui/spinning-text.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement login page with username authentication and alert handling
  package-lock.json
  package.json
  src/components/page/Login.tsx
  src/components/withAuth.tsx
  src/pages/_app.mdx
  src/pages/_meta.json
  src/pages/login.mdx
  src/utils/auth.ts
Due: prettier --write, eslint --fix, eslint

chore: add NEXT_PUBLIC_ALLOWED_USERNAMES environment variable to build workflow
  .github/workflows/build-and-deploy.yml
Due: none

refactor: update login meta configuration to include icon and improve visibility
  src/pages/_meta.json
Due: prettier --write

fix: correct typo in About component timeline description
  src/components/page/About.tsx
Due: prettier --write, eslint --fix, eslint

refactor(docs): update Kubernetes documentation hierarchy and links for accuracy
  src/constants/index.ts
  src/pages/_meta.json
Due: prettier --write, eslint --fix, eslint

chore(deps): update motion and framer-motion to version 12.4.7, add line-shadow-text component
  package-lock.json
  package.json
  src/components/ui/line-shadow-text.tsx
  src/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

feat(ui): add AuroraText component with animated border effects
  src/components/ui/aurora-text.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

feat(ui): enhance Hero component with AuroraText, LineShadowText, and Marquee
  src/components/shared/hero.tsx
  src/components/shared/heroMarque.tsx
  src/components/ui/marquee.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

feat(ui): add HeroTerminal component and integrate it into HeroVideoDialog
  src/components/shared/hero.tsx
  src/components/shared/heroTerminal.tsx
  src/components/ui/hero-video-dialog.tsx
  src/components/ui/terminal.tsx
Due: prettier --write, eslint --fix, eslint

chore(certificates): add KCSA certificate with image and link
  public/certificates/kcsa.png
  src/constants/index.ts
Due: prettier --write, eslint --fix, eslint

feat(docs): enhance document generation to include category input
  src/helper/generate-new-doc.py
Due: none

refactor(components): simplify hero layout and enhance terminal success message
  src/components/shared/hero.tsx
  src/components/shared/heroTerminal.tsx
  src/components/ui/hero-video-dialog.tsx
  src/components/ui/terminal.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,md,mdx})
  eslint --fix: any of: */**/*.{js,jsx,ts,tsx}
  eslint: any of: */**/*.{js,jsx,ts,tsx}
